# cdk
alias cdk="npx cdk@latest"
alias cdk-deploy-all="sudo rm -rf cdk.out && cdk deploy --all --concurrency 20 --require-approval never"

# password
alias pass-gen="openssl rand -base64 32"

#networking
alias open-ports="sudo netstat -tulpn"

# ssh
alias ssh-key="ssh-keygen -t ed25519 -a 100"

# cli copy/paste
alias copy-clip="xclip -selection clipboard"

# config editor commands
alias zshconfig="vim ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"

alias zshre="source ~/.zshrc"

# asdf 
alias asdf-node-ins-lts="asdf cmd nodejs update-nodebuild && asdf install nodejs $(asdf cmd nodejs resolve lts)"

# yt-dlp

# split youtube video into separate parts based on chapters and convert to mp3 with thumnail and other metadata 
alias yt-mp3-chap='yt-dlp --split-chapters --extract-audio --audio-format mp3 --audio-quality 0 --embed-metadata --embed-thumbnail --embed-chapters -o "Chapter_%(chapter_number)02d - %(section_title)s.%(ext)s"'
# convert entire youtube video into separate parts based on chapters and convert to mp3 with thumnail and other metadata 
alias yt-mp3-chap='yt-dlp --split-chapters --extract-audio --audio-format mp3 --audio-quality 0 --embed-metadata --embed-thumbnail -o "Chapter_%(chapter_number)02d - %(section_title)s.%(ext)s"'

